services:
  db:
    image: postgres:16-alpine
    container_name: werewolf_db
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: